/*!@tailwind base;
@tailwind components;
@tailwind utilities; */

.root .rounded-2xl {
   border-radius: 0.5rem !important;
}

.hMgqRg {
   background-color: rgb(0, 0, 0) !important;
}

/* Private chat: send icon background color */
svg rect {
   fill: #FFCD33 !important;
}

/* Private chat: send icon plane color */
g[mask] path {
   fill: #0E0D0C !important;
}




