/*!@tailwind base;
@tailwind components;
@tailwind utilities; */

/* Rounded corners for input fields */
.root .rounded-2xl {
   border-radius: 0.5rem !important;
}

/* back-ground color of message sent by chatter */
.hMgqRg {
   background-color: rgb(0, 0, 0) !important;
}

/* Private chat: send icon background color */
svg rect {
   fill: #FFCD33 !important;
}

/* Private chat: send icon plane color */
g[mask] path {
   fill: #0E0D0C !important;
}

/* EQ Bot Icon background color */
.root .bg-neutral-focus {
   --tw-bg-opacity: 1;
   background-color: #FFCD33 !important;
}

/* EQ Bot Icon Font color */
.root .text-neutral-content {
   --tw-text-opacity: 1;
   color: rgb(0, 0, 0) !important;
}




