:root {
   /* To change the chat back ground*/
   /*--linear: linear-gradient(#FBF8F3) !important; /*Cream*/
   --linear: linear-gradient(#FFFFFF) !important; /*White*/
}

/* To keep the chat back ground as cream on hover*/
.pn-msg:hover {
   background: #FBF8F3 !important;
}

/* Rounded corners for input fields */
.root .rounded-2xl {
   border-radius: 0.5rem !important;
}

/* Private chat: send icon background color */
svg rect {
   fill: #FFCD33 !important;
}

/* Private chat: send icon border */
#send-div {
   background-color: #FFCD33;
}

/* Private chat: send icon plane color */
g[mask] path {
   fill: #0E0D0C !important;
}

/* EQ Bot Icon background color */
.root .bg-neutral-focus {
   --tw-bg-opacity: 1;
   background-color: #FFCD33 !important;
}

/* EQ Bot Icon Font color */
.root .text-neutral-content {
   --tw-text-opacity: 1;
   color: rgb(0, 0, 0) !important;
}

/* back-ground color of message sent by chatter */
.hMgqRg {
   background-color: rgb(0, 0, 0) !important;
}

/* rounded border of the chatter's message on the right bottom */
.root .rounded-br-none {
   border-bottom-right-radius: 1;
}

/* aligning textbox input area */
.root .pl-3 {
   padding-left: 1.2rem !important;
}

/* Start here :: To remove the chat header */
.root .h-\[7\%\] {
   height: 0% !important;
}

/*
.root .w-full {
   width: 0%;
} 

.ktkpId {
   background-color: rgb(251, 248, 243) !important;
}
/* End here :: To remove the chat header */


/* Removing the border of the chat header 
.root .border-b-\[1px\] .root .border-b {
   border-bottom-width: 0px !important;
} */

/* Ends here :: To remove the chat header */

/* Aligning five9 widget content to the center /
.root .w-\[100\%\] {
   width: 99%;
}

/* Five9 widget height /
.gmZwMx {
   width: calc(100% - 16px);
   display: block;
   margin: auto;
   border: none;
   height: 602px !important;
}

/* Five9 Chat Cancel button and its container settings /
.fqOYzd {
   margin: -20px !important;
   font-size: 1.2rem !important;
}

/* Pulling the message input box down/
.root .h-\[3vh\] {
   height: 1vh !important;
}

.f9ChatWidget {
   right: 4px !important;
   bottom: 6px !important;
   margin-bottom: 6px !important;
}
*/
