:root {
   /* To change the chat back ground*/
   /*--linear: linear-gradient(#FBF8F3) !important; /*Cream*/
   --linear: linear-gradient(#FFFFFF) !important; /*White*/
   --lm-digital-web-messenger-forms-helper-text-font-size: 0px !important; /* To remove the text 'TIME value'*/
   --lm-digital-web-messenger-body-small-font-size: 0px !important; /* To remove the text "Author/Agent name"*/
   --lm-digital-web-messenger-form-default-border: #DEDEDE !important; /* To change the border color of the input field*/
   --lm-digital-web-messenger-button-primary-default-text: #ffffff !important;
   --lm-digital-web-messenger-button-primary-hover-background: #0E0D0C !important;
   --lm-digital-web-messenger-button-secondary-hover-background: #ffffff !important;
   --lm-digital-web-messenger-button-secondary-hover-text: #0E0D0C !important;
}

/* To keep the chat back ground as cream on hover*/
.pn-msg:hover {
   background: #FBF8F3 !important;
}

/* Rounded corners for input fields */
.root .rounded-2xl {
   border-radius: 0.5rem !important;
}

/* Private chat: send icon background color */
svg rect {
   fill: #FFCD33 !important;
}

/* Private chat: send icon border */
#send-div {
   background-color: #FFCD33 !important;
}

/* Private chat: send icon plane color */
g[mask] path {
   fill: #0E0D0C !important;
}

/* EQ Bot Icon background color */
.root .bg-neutral-focus {
   --tw-bg-opacity: 1;
   background-color: #FFCD33 !important;
}

/* EQ Bot Icon Font color */
.root .text-neutral-content {
   --tw-text-opacity: 1;
   color: rgb(0, 0, 0) !important;
}

/* back-ground color of message sent by chatter */
.hMgqRg {
   background-color: rgb(0, 0, 0) !important;
}

/* rounded border of the chatter's message on the right bottom */
.root .rounded-br-none {
   border-bottom-right-radius: 1vh !important;
}

/* Start here :: To clean five9 chat header */
.root .h-\[7\%\] {
   height: 0% !important; /* Removing the chat header */
}
.root .border-b-\[1px\] .root .border-b {
   border-bottom-width: 0px !important; /* Removing the border of the chat header */
}
.ktkpId {
   /*background-color: rgb(251, 248, 243) !important; /* Cream */
   background-color: rgb(255, 255, 255) !important; /* White */
}
/* Hide the close button on chat header */
.root .w-\[24px\] {
   width: 0px !important;
}

.root .h-\[24px\] {
   height: 0px !important;
}
/* End here :: To remove the chat header */

/* Aligning five9 widget chatter message input to the center */
.root .w-\[100\%\] {
   width: 99% !important;
}

/* Reducing line height of the message containers to resemble Ada's */
.chat_container {
   line-height: 1.1 !important;
}

/* To take the chatter text input box to further down near cancel button */
.root .h-\[3vh\] {
   height: 0vh !important;
}

/* Invisible dark white bubble around message sent by agent */
.root .pn-msg__bubble {
   box-shadow: -1px 0 1px #FFFFFF, -1px 0 4px #FFFFFF, -1px 4px 16px #FFFFFF !important;
}

/* Reduction in space between messages */
.root .mt-2 {
   margin-top: -1rem !important;
}

/* Resizing the agent short name yello icon to smaller one*/
.root .rounded-full {
   border-radius: 20px !important;
}

.root .gap-2 {
   gap: 0rem !important;
}

.root .pn-msg-input__wrapper {
   border-radius: 7px !important; /* To make the input field less rounded */
}

.alert-success {
   background-color: #0E0D0C !important; /* To change the background color of the alert message */
}

.btn-outline:hover,
.btn-outline.btn-active {
   border-color: #0E0D0C !important; /* To change the border color of the button on hover */
   background-color: #0E0D0C !important; /* To change the background color of the button on hover */
   color: hsl(var(--b1) / var(--tw-text-opacity))
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
   margin: 0.5rem !important;
}


/*public static readonly ADAXFIVE9_CUSTOM_CSS_URL = new URL('EQCustomFive9HandOff.css', import.meta.url).href;*/
