:root {
   /* To change the chat back ground*/
   /*--linear: linear-gradient(#FBF8F3) !important; /*Cream*/
   --linear: linear-gradient(#FFFFFF) !important; /*White*/
}

/* To keep the chat back ground as cream on hover*/
.pn-msg:hover {
   background: #FBF8F3 !important;
}

/* Rounded corners for input fields */
.root .rounded-2xl {
   border-radius: 0.5rem !important;
}

/* Private chat: send icon background color */
svg rect {
   fill: #FFCD33 !important;
}

/* Private chat: send icon border */
#send-div {
   background-color: #FFCD33;
}

/* Private chat: send icon plane color */
g[mask] path {
   fill: #0E0D0C !important;
}

/* EQ Bot Icon background color */
.root .bg-neutral-focus {
   --tw-bg-opacity: 1;
   background-color: #FFCD33 !important;
}

/* EQ Bot Icon Font color */
.root .text-neutral-content {
   --tw-text-opacity: 1;
   color: rgb(0, 0, 0) !important;
}

/* back-ground color of message sent by chatter */
.hMgqRg {
   background-color: rgb(0, 0, 0) !important;
}

/* Start here :: To clean five9 chat header */
.root .h-\[7\%\] {
   height: 0% !important; /* Removing the chat header */
}
.root .border-b-\[1px\] .root .border-b {
   border-bottom-width: 0px !important; /* Removing the border of the chat header */
}
/* End here :: To remove the chat header */

/*
.root .w-full {
   width: 0%;
} 

.ktkpId {
   background-color: rgb(251, 248, 243) !important;
}

/* Aligning five9 widget content to the center /
.root .w-\[100\%\] {
   width: 99%;
}
*/

/* Five9 widget height to fit with the Ada's chat header*/
.gmZwMx {
   height: 600px !important;
}

/* ######### Alignment of the Five9 widget to the center of Ada's frame ######### */
/* Five9 Chat Cancel button and its container settings */
.fqOYzd {
   margin: -20px !important;
   border: 1px !important;
   font-size: 1.2rem !important;
   width: 110vw !important;
   line-height: 10px !important;
}

/* Moving widget to the right */
.f9ChatWidget {
    position: fixed;
    right: 1px !important;
    bottom: 1px !important;
    margin-bottom: -1px !important;
    z-index: 9996;
    border: none;
}

/* aligning textbox input area */
.root .pl-3 {
   padding-left: 0.2rem !important;
}


/* ######### Alignment of the Five9 widget to the center of Ada's frame ######### */

/* Pulling the message input box down /
.root .h-\[3vh\] {
   height: 1vh !important;
}

.f9ChatWidget {
   right: 4px !important;
   bottom: 6px !important;
   margin-bottom: 6px !important;
}




/* rounded border of the chatter's message on the right bottom - not working from custom css but works inline change(To be debugged)*/
.root .rounded-br-none {
   border-bottom-right-radius: 1 !important;
}