:root {
   /* To change the chat back ground*/
   /*--linear: linear-gradient(#FBF8F3) !important; /*Cream*/
   --linear: linear-gradient(#FFFFFF) !important; /*White*/
}

/* To keep the chat back ground as cream on hover*/
.pn-msg:hover {
   background: #FBF8F3 !important;
}

/* Rounded corners for input fields */
.root .rounded-2xl {
   border-radius: 0.5rem !important;
}

/* Private chat: send icon background color */
svg rect {
   fill: #FFCD33 !important;
}

/* Private chat: send icon border */
#send-div {
   background-color: #FFCD33;
}

/* Private chat: send icon plane color */
g[mask] path {
   fill: #0E0D0C !important;
}

/* EQ Bot Icon background color */
.root .bg-neutral-focus {
   --tw-bg-opacity: 1;
   background-color: #FFCD33 !important;
}

/* EQ Bot Icon Font color */
.root .text-neutral-content {
   --tw-text-opacity: 1;
   color: rgb(0, 0, 0) !important;
}

/* back-ground color of message sent by chatter */
.hMgqRg {
   background-color: rgb(0, 0, 0) !important;
}

/* rounded border of the chatter's message on the right bottom - not working from custom css but works inline change(To be debugged)*/
.root .rounded-br-none {
   border-bottom-right-radius: 1vh !important;
}

/* Start here :: To clean five9 chat header */
.root .h-\[7\%\] {
   height: 0% !important; /* Removing the chat header */
}
.root .border-b-\[1px\] .root .border-b {
   border-bottom-width: 0px !important; /* Removing the border of the chat header */
}
.ktkpId {
   /*background-color: rgb(251, 248, 243) !important; /* Cream */
   background-color: rgb(255, 255, 255) !important; /* White */
}
/* Hide the close button on chat header */
.root .w-\[24px\] {
   width: 0px;
}

.root .h-\[24px\] {
   height: 0px;
}
/* End here :: To remove the chat header */

/* Aligning five9 widget chatter message input to the center */
.root .w-\[100\%\] {
   width: 99%;
}
